<!-- ============================================ -->
<!--                 Navigation                   -->
<!-- ============================================ -->

<header id="cs-navigation">
    <div class="cs-top-bar">
        <div class="cs-top-container">
            <!--Nav Logo-->
            <a href="/" class="cs-logo" aria-label="back to home">
                <img src="/assets/images/logo.png" alt="The Free Website Guys" width="197" height="43" aria-hidden="true" decoding="async">
            </a>
            <div class="cs-contact-group">
                
                <a class="cs-contact-link" href="tel:{{ client.phoneForTel }}">
                    <picture class="cs-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async" src="/assets/images/phone.svg" alt="icon" width="24" height="24">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-header">Звоните!</span>
                        <span class="cs-link-content">{{ client.phoneFormatted }}</span>
                    </div>
                </a>
                <a class="cs-contact-link" href="https://t.me/webfreeguys" target="_blank">
                    <picture class="cs-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async" src="/assets/images/telegram.svg" alt="Telegram" width="24" height="24">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-header">Telegram</span>
                        <span class="cs-link-content">@webfreeguys</span>
                    </div>
                </a>
                <a class="cs-contact-link" href="https://wa.me/79856441316" target="_blank">
                    <picture class="cs-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async" src="/assets/images/whatsapp.svg" alt="WhatsApp" width="24" height="24">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-header">WhatsApp</span>
                        <span class="cs-link-content">+7 (985) 644-13-16</span>
                    </div>
                </a>
                <a href="#apply" class="cs-button-solid">Подать заявку</a>
            </div>
        </div>
    </div>
</header>